
PutOnGitHub/method/latex/full_method.aux
PutOnGitHub/method/latex/full_method.bbl
PutOnGitHub/method/latex/full_method.blg
PutOnGitHub/method/latex/full_method.brf
PutOnGitHub/method/latex/full_method.log
PutOnGitHub/method/latex/full_method.pdf
PutOnGitHub/method/latex/full_method.synctex.gz
